<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @diary.content %>
</p>

<p>
  <b>User:</b>
  <%= @diary.user_id %>
</p>


<%= link_to 'Edit', edit_diary_path(@diary) %> |
<%= link_to 'Back', diaries_path %>
